.container-co-in{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  
}


.bordure{
  border-left: 1px solid black;
  height: 50vh;
  align-self: flex-end;
}


.container-co {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin-top: 8%;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
  }

  
  .formulaire .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .formulaire .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .formulaire .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .formulaire .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .formulaire .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .formulaire .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .formulaire .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .formulaire .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .formulaire .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 9px;
  }